@import "../../assets/style/default.less";
.other {
  box-sizing: border-box;
  display: flex;
  // padding: 20px;
  min-height: calc(~"100vh -  @{total-height}");
  background: url("@{img-two-level-path}/other.png");
  background-size:cover;
  .other-list {
    display: flex;
    flex-wrap: wrap;
  }
  .other-item {
    width: 200px;
    height: 200px;
    margin: 50px;
    background: url("@{img-two-level-path}/canvasBg.png");
    //transform: scale(1.15);
    &:hover {
      transform: scale(1.15);
    }
  }
  .other-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .title {
        font-size: 20px;
    }
  }
}
